<app-header></app-header>
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Về sản phẩm</h2>
      <p>
        Bao gồm những tính năng đã phát triển và đang hoàn thiện
      </p>
    </header>
    <div class="highlights">
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-user-secret"><span class="label">Icon</span></a>
            <h3>Cá nhân hóa</h3>
          </header>
          <p>Đây là tính năng quan trọng nhất của 1 note-dạng-nhật-ký hoặc note-dạng-ghi-nhớ. Nó bao gồm những dữ liệu
          mang tính personal mà người dùng không muốn public.</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a routerLink="#" class="icon fa-files-o"><span class="label">Icon</span></a>
            <h3>Có thể nhân bản</h3>
          </header>
          <p>Tạo 1 bản ghi mới mà ngại phải soạn lại cả form từ đầu? Chúc mừng! Bạn chỉ cần 1 cú click.</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
            <h3>Lưu trữ tự động</h3>
          </header>
          <p>Soạn đến đâu, auto-save đến đó! Rất tiện dụng.</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-language"><span class="label">Icon</span></a>
            <h3>Đa ngôn ngữ</h3>
          </header>
          <p>Coming soon...</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
            <h3>Chia sẻ</h3>
          </header>
          <p>Gửi nguyên 1 bản ghi cho bạn bè thông qua e-mail hoặc bất cứ 1 messenger hiện hành nào.</p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
            <h3>QR code</h3>
          </header>
          <p>Coming soon...</p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Dự án này đang trong quá trình hoàn thiện</h2>
    <p>
      Là một team mới thành lập chưa được 1 tuần, chúng tôi rất mong nhận được sự giúp đỡ của mọi người để hoàn thiện
      sản phẩm !
    </p>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Về chúng tôi</h2>
      <p>
        Là một team với toàn bộ thành viên là Fresher, chúng tôi đang cố gắng hoàn thiện từng ngày...
      </p>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <blockquote>
            <p>Là 1 dev mới vào nghề. Rất ham học hỏi và tìm tòi những công nghệ mới. Không ngừng tự trang bị cho bản thân
              các kỹ năng cần thiết để trở thành 1 dev xịn. Rất hòa đồng với mọi thành viên trong team nói riêng và
              công ty nói chung</p>          </blockquote>
          <div class="author">
            <div class="image">
              <img src="../../../assets/images/pic03.jpg" alt="" />
            </div>
            <p class="credit"> <strong>Tuấn Anh</strong> <br> <span> Tạp vụ</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Là 1 dev mới vào nghề. Rất ham học hỏi và tìm tòi những công nghệ mới. Không ngừng tự trang bị cho bản thân
            các kỹ năng cần thiết để trở thành 1 dev xịn. Rất hòa đồng với mọi thành viên trong team nói riêng và
            công ty nói chung</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <img src="../../../assets/images/pic03.jpg" alt="" />
            </div>
            <p class="credit"> <strong>Văn</strong> <br> <span> Back-End dev</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Là 1 dev mới vào nghề. Rất ham học hỏi và tìm tòi những công nghệ mới. Không ngừng tự trang bị cho bản thân
              các kỹ năng cần thiết để trở thành 1 dev xịn. Rất hòa đồng với mọi thành viên trong team nói riêng và
              công ty nói chung</p>          </blockquote>
          <div class="author">
            <div class="image">
              <img src="../../../assets/images/pic03.jpg" alt="" />
            </div>
            <p class="credit"> <strong>Nam</strong> <br> <span> Front-End dev</span></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
