<!-- Header -->
<header id="header">
  <a class="logo" href="#">MS &copy;</a>
  <nav class="navbar">
    <button class="btn btn-outline-success">Đăng nhập</button>
    hoặc
    <button class="btn btn-outline-primary">Đăng ký</button>
  </nav>
</header>


<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Mind Sticker v1.0</h1>
    <p>Note - Reminder miễn phí dành cho mọi người</p>
  </div>
  <video autoplay loop muted playsinline src="../../../assets/images/Ceiling%20-%20877.mp4"></video>
</section>
