<!-- Header -->
<header id="header">
  <a class="logo" href="#">MS &copy;</a>
  <nav class="navbar">
    <button class="btn btn-outline-success" data-toggle="modal" data-target="#elegantModalForm">Đăng nhập
    </button>
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content form-elegant">
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
              <strong>Đăng nhập</strong></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-4">
            <div class="md-form mb-5">
              <input mdbInput type="email" id="Form-email1" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-email1">Tên đăng nhập</label>
            </div>

            <div class="md-form pb-3">
              <input mdbInput type="password" id="Form-pass1" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-pass1">Mật khẩu</label>
              <p class="font-small blue-text d-flex justify-content-end"><a href="#" class="blue-text ml-1">
                Quên mật khẩu?</a></p>
            </div>

            <div class="text-center mb-3">
              <button style="width: 150px" type="button" class="btn blue-gradient">Đăng nhập</button>
            </div>
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
              or Đăng nhập với:</p>

            <div class="row my-3 d-flex justify-content-center">
              <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i
                class="fab fa-facebook-f text-center"></i></button>
              <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i
                class="fab fa-twitter"></i></button>
              <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i>
              </button>
            </div>
          </div>
          <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Chưa phải thành viên? <a style="font-size: 12px"
                                                                                                href="#"
                                                                                                class="blue-text ml-1">
              Đăng ký ngay</a></p>
          </div>
        </div>
      </div>
    </div>
    or
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#registerModalForm">Đăng ký</button>
    <div class="modal fade" id="registerModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content form-elegant">
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel1">
              <strong>Đăng ký</strong>
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-4">
            <div class="md-form mb-5">
              <input mdbInput type="email" id="Form-email2" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-email2">E-mail</label>
            </div>

            <div class="md-form mb-5">
              <input mdbInput type="email" id="Form-username" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-username">Tên đăng nhập</label>
            </div>

            <div class="md-form">
              <input mdbInput type="password" id="Form-pass2" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-pass2">Mật khẩu</label>
            </div>

            <div class="md-form">
              <input mdbInput type="password" id="Form-pass3" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-pass3">Nhập lại mật khẩu</label>
            </div>

            <div class="md-form">
              <input mdbInput type="text" id="Form-name" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-name">Họ & Tên</label>
            </div>

            <div class="md-form">
              <input mdbInput type="tel" id="Form-tel" class="form-control validate">
              <label data-error="wrong" data-success="right" for="Form-tel">Điện thoại liên hệ</label>
            </div>

            <div class="text-center mb-3">
              <button type="button" class="btn blue-gradient btn-rounded z-depth-1a">Đăng ký</button>
            </div>
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
              or Đăng ký với:</p>

            <div class="row my-3 d-flex justify-content-center">
              <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i
                class="fab fa-facebook-f text-center"></i></button>
              <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i
                class="fab fa-twitter"></i></button>
              <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i>
              </button>
            </div>
          </div>
          <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Đã là thành viên? <a style="font-size: 12px"
                                                                                            href="#"
                                                                                            class="blue-text ml-1">
              Đăng nhập</a></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Mind Sticker v1.0</h1>
    <p>Note - Reminder miễn phí dành cho mọi người</p>
  </div>
  <video autoplay loop muted playsinline src="../../../assets/images/Ceiling%20-%20877.mp4"></video>
</section>
