.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  max-height: 100%;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.btn .fa.fa-sm {
  font-size: 1rem;
  margin-top: -5px;
}

.dropdown-item a {
  color: #111111;
}


.container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.container div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


mat-sidenav {
  background-color: #1C1C1C;
  width: 250px;
}

#sidenav {
  z-index: 10;
}
