<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <div>
      <a href=""><img src="../../../../assets/images/pic03.jpg" alt="" style="max-width: 12%; border-radius: 100%"></a>
      <a href="" class="ml-2" style="text-decoration: none">User <i class="fa fa-angle-down" style="font-size: smaller"></i></a>
    </div>

    <div>
      <mat-form-field>
        <input placeholder="Search all notes" id="search" type="text" matInput>
        <label for="search"></label>
      </mat-form-field>
    </div>
    <div>
      <button style="border-radius: 40px; width: 200px;" class="btn btn-outline-success"><i class="fa fa-plus"></i> New note</button>
    </div>
    <div class="mt-5">

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <a (click)="sidenav.toggle()"><i class="fa fa-angle-double-right"></i></a>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
