<!-- Header -->
<header id="header">
  <a class="logo" href="#"><img src="../../../assets/images/logo_transparent.png" alt="Logo"></a>
  <nav>
    <button class="btn btn-outline-success" [routerLink]="['/api/auth/signin']">Đăng nhập</button>
    hoặc
    <button class="btn btn-outline-primary" routerLink='/api/auth/signup'>Đăng ký</button>
  </nav>
  <nav *ngIf="this.authService.token">
    <a>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRinpolF9EbTbZzc4nsBZGghiuT4DFe1kEEFAnXg-Y67oo7n6HN">
    </a>
  </nav>
</header>
