<!-- Header -->
<header id="header">
  <a class="logo" href="#"><img src="../../../assets/images/logo_transparent.png" alt="Logo"></a>
  <nav *ngIf="!this.authService.token">
    <button class="btn btn-outline-success" [routerLink]="['/api/auth/signin']">Đăng nhập</button>
    hoặc
    <button class="btn btn-outline-primary" routerLink='/api/auth/signup'>Đăng ký</button>
  </nav>
  <nav *ngIf="this.authService.token">
    <div id="NAV-User">
      <a>

      </a>
      <a>
        <div class="btn-group">
          <button style="color: white; background: black; border-radius: 30px" id="setting" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <img id="avatar"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRinpolF9EbTbZzc4nsBZGghiuT4DFe1kEEFAnXg-Y67oo7n6HN"
                 height="30px" width="30px">
            {{this.authService.username}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="#">Logout</a>
            <a class="dropdown-item" routerLink="#">Setting</a>
          </div>
        </div>
      </a>
    </div>

  </nav>
</header>
