a {
  text-decoration: none;
  color: #555555
}

#desc button {
  color: rgba(2, 12, 36, 0.3);
}
.example-form {
  min-width: 150px;
  max-width: 900px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

::ng-deep.mat-input-element {
  color: #111111;
}
