<div class="row pb-4" style="justify-content: space-between; height: 81px">
  <div id="desc" style="margin-top: 20px; padding-bottom: 1px">
    <button mat-button><i class="fa fa-fa fa-expand-arrows-alt"></i></button>
    <span style="color: #444444">|</span>
    <button mat-button><i class="fa fa-book"></i> <span> Sổ tay của tôi</span></button>
    <br>
    <span style="color: #444444">Chỉnh sửa lần cuối vào 4/9/2019</span>
  </div>
  <div style="margin-top: 20px">
    <button class="btn btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="border-radius: 100%">
      <i class="fa fa-plus"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <button class="dropdown-item" type="button"><i class="fa fa-table"></i> Bảng</button>
      <button class="dropdown-item" type="button"><i class="fa fa-divide"></i> Chia dòng</button>
      <button class="dropdown-item" type="button"><i class="fa fa-paperclip"></i> Đính kèm</button>
      <button class="dropdown-item" type="button"><i class="fa fa-camera-retro"></i> Ảnh</button>
      <button class="dropdown-item" type="button"><i class="fa fa-code"></i> Code block</button>
    </div>
  </div>
  <div style="margin-top: 20px; padding-right: 30px">
    <span style="color: #a6a6a6;">Chỉ mình bạn </span>
    <button mat-button class="btn btn-success">Chia sẻ</button>
    <a class="ml-3" type="button" id="dropdownMenu" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-v" style="color: #e2e2e2"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <button class="dropdown-item" type="button">Di chuyển đến...</button>
      <button class="dropdown-item" type="button">Chia sẻ...</button>
      <button class="dropdown-item" type="button">Nhân bản note</button>
      <button class="dropdown-item" type="button" (click)="deleteNote()">Xóa note</button>
      <hr>
      <button class="dropdown-item" type="button">Tạo lối tắt</button>
      <button class="dropdown-item" type="button">Sao chép link</button>
      <button class="dropdown-item" type="button">In note này</button>
      <hr>
      <button class="dropdown-item" type="button">Độ rộng của note</button>
      <button class="dropdown-item" type="button">Xem thông tin note</button>
    </div>
  </div>
</div>
<hr>
<div>
  <form class="example-form m-5">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Tiêu đề" value="{{noteDetail.data.title}}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Nội dung" value="{{noteDetail.data.content}}" cols="30" rows="20"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
