
<div class="row pb-4" style="justify-content: space-between; height: 81px">
  <div id="desc" style="margin-top: 20px; padding-bottom: 1px">
    <button mat-button><i class="fa fa-fa fa-expand-arrows-alt"></i></button>
    <span style="color: #444444">|</span>
    <button mat-button><i class="fa fa-book"></i> <span> Sổ tay của tôi</span></button>
    <br>
    <span style="color: #444444">Chỉnh sửa lần cuối vào 4/9/2019</span>
  </div>
  <div style="margin-top: 20px">
    <button class="btn btn-primary" style="border-radius: 100%"><i class="fa fa-plus"></i></button>
  </div>
  <div style="margin-top: 20px; padding-right: 30px">
    <span style="color: #a6a6a6;">Chỉ mình bạn </span>
    <button mat-button class="btn btn-success">Chia sẻ</button>
    <a href="" class="ml-3" type="button"><i class="fa fa-ellipsis-v"></i></a>
  </div>
</div>
<hr>
<div>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</div>
