<footer id="footer">
  <div class="inner">
    <div class="flex">
      <div>
        &copy; 2019 Strong man
      </div>
      <ul class="icons">
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
      </ul>
    </div>
  </div>
</footer>
