<header id="header">
  <a class="logo" href="/api/owner"><img src="../../../../assets/images/logo_transparent.png" alt="Logo"></a>
  <div><b style="font-size: 40px; color: white"><i>Mind Sicker</i> </b></div>
  <nav>
    <div style="border: 2px solid red; border-radius: 10px"><img src="../../../../assets/images/pic03.jpg" alt=""
                                                                 style="max-width: 40px; border-radius: 100%; margin-left: 3px">
      <span style="color: white;margin: 10px 10px 10px 10px">
        <i style="font-size: 18px">{{username}}</i></span>
    </div>
  </nav>
</header>
<div style="height: 100px"></div>
<div class="container" id="profileuser">
  <div class="row">
    <div class="col-4"><img src="../../../../assets/images/pic03.jpg" alt=""
                            style="width: 200px; border-radius: 100%; margin-top: 50%">
    </div>
    <div class="col-8" id="account-information">

      <div class="card-header"
           style="text-align: center;
                  font-size: 18px;
                  border-radius: 15px;
                  background: #fff914">UserName: {{username}}</div>
      <hr>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">FistName</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.firstName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">LastName</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.lastName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.address">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">PhoneNumber</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.phoneNumber">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input type="password" class="form-control">
      </div>

      <button (click)="updateProfile()">Cập nhật</button>
    </div>
  </div>
</div>
