<div class="row">
  <div class="col-md-3"></div>
<!-- Material form register -->
<div class="card col-md m-3 p-0">

  <h5 class="card-header text-center py-4">
    <strong style="color: black">Đăng ký thành viên</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterFormFirstName" class="form-control"
                   formControlName="firstName">
            <label for="materialRegisterFormFirstName">Họ</label>
            <mdb-error *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched">
              * Họ không hợp lệ
            </mdb-error>
            <mdb-success *ngIf="registerForm.get('firstName').valid">
              * Họ hợp lệ
            </mdb-success>
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterFormLastName" class="form-control"
                   formControlName="lastName">
            <label for="materialRegisterFormLastName">Tên</label>
            <mdb-error *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">
              * Tên không hợp lệ
            </mdb-error>
            <mdb-success *ngIf="registerForm.get('lastName').valid">
              * Tên hợp lệ
            </mdb-success>
          </div>
        </div>
      </div>

      <!-- E-mail -->
      <div class="md-form mt-2">
        <input mdbInput type="email" id="materialRegisterFormEmail" class="form-control" formControlName="email">
        <label for="materialRegisterFormEmail">E-mail</label>
        <mdb-error *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
          * E-mail không hợp lệ
        </mdb-error>
        <mdb-success *ngIf="registerForm.get('email').valid">
          * E-mail hợp lệ
        </mdb-success>
      </div>


      <!-- username -->
      <div class="md-form" style="margin-top: 30px">
        <input mdbInput type="text" id="materialRegisterFormUserName" class="form-control"
               aria-describedby="materialRegisterFormUserNameHelpInline" formControlName="username">
        <label for="materialRegisterFormUserName">Tên người dùng</label>
        <mdb-error *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
          * Tên đăng nhập không hợp lệ
        </mdb-error>
        <mdb-success *ngIf="registerForm.get('username').valid">
          * Tên đăng nhập hợp lệ
        </mdb-success>
      </div>

      <!-- Password -->
      <div class="md-form" style="margin-top: 30px">
        <input mdbInput type="password" id="materialRegisterFormPassword" class="form-control"
               aria-describedby="materialRegisterFormPasswordHelpInline" formControlName="password">
        <label for="materialRegisterFormPassword">Mật khẩu</label>
        <mdb-error *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
          * Mật khẩu không hợp lệ
        </mdb-error>
        <mdb-success *ngIf="registerForm.get('password').valid">
          * Mật khẩu hợp lệ
        </mdb-success>
      </div>

      <!-- Password-confirmation -->
      <div class="md-form" style="margin-top: 30px">
        <input mdbInput type="password" id="materialRegisterFormPassword1" class="form-control"
               aria-describedby="materialRegisterFormPasswordHelpInline" formControlName="password">
        <label for="materialRegisterFormPassword1">Nhập lại mật khẩu</label>
        <mdb-success *ngIf="registerForm.get('password').valid">
          * Mật khẩu khớp
        </mdb-success>
      </div>

      <!-- Phone number -->
      <div class="md-form" style="margin-top: 30px">
        <input mdbInput type="tel" id="materialRegisterFormPhone" class="form-control"
               aria-describedby="materialRegisterFormPhoneHelpInline" formControlName="phoneNumber">
        <label for="materialRegisterFormPhone">Số điện thoại</label>
        <mdb-error *ngIf="registerForm.get('phoneNumber').invalid && registerForm.get('phoneNumber').touched">
          * Số điện thoại không hợp lệ
        </mdb-error>
        <mdb-success *ngIf="registerForm.get('phoneNumber').valid">
          * Số điện thoại hợp lệ
        </mdb-success>
      </div>

      <!-- Address -->
      <div class="md-form" style="margin-top: 30px">
        <input mdbInput type="text" id="materialRegisterFormAddress" class="form-control"
               aria-describedby="materialRegisterFormAddressHelpInline" formControlName="address">
        <label for="materialRegisterFormAddress">Địa chỉ</label>
      </div>


      <!-- DoB -->
      <div class="md-form mt-5">
        <input mdbInput type="date" id="materialRegisterFormDate" class="form-control"
               aria-describedby="materialRegisterFormDateHelpInline" formControlName="dob">
        <label for="materialRegisterFormDate">Ngày sinh</label>
      </div>

      <!-- Newsletter -->
      <div class="form-check" style="margin-top: 30px">
        <input mdbInput type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
        <label class="form-check-label" for="materialRegisterFormNewsletter">
          Tôi đồng ý với các điều khoản của nhà cung cấp dịch vụ</label>
      </div>


      <!-- Sign up button -->
      <br>
      <button class="btn btn-outline-primary" type="submit" style="width: 350px">Đăng ký</button>

      <!-- Sign-In -->
      <br><br>
      <p>Đã là thành viên?<br>
        <a routerLink='/api/auth/signin'>Đăng nhập</a>
      </p>

      <!-- Social register -->
      <br><br>
      <p>Hoặc đăng ký với: </p>

      <a type="button" class="btn-floating btn-fb btn-lg">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-lg">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-lg">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-lg">
        <i class="fab fa-github"></i>
      </a>

      <hr>

      <!-- Terms of service -->
      <p>Bằng việc click vào nút
        <em>Đăng ký</em>, bạn đã đồng ý với
        <a href="" target="_blank">các điều khoản của chúng tôi.</a>

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form register -->
  <div class="col-md-3"></div>
</div>
