.card {
  background-image: url(../../../assets/images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card a:hover {
  color: #ce1b28;

}

label {
  color: #1C1C1C;
}
