<div *ngIf="notes; else elseBlock1" style="margin-top: 20px">
  <h3>All notes</h3>
  <p>{{notes.length}} note(s)</p>
  <hr>
</div>

<a *ngFor="let note of notes" [routerLink]="['notes/', note.id]">
  <div style="padding-top: 10px" *ngIf="notes.length > 0">
    <h5 *ngIf="note.title; else elseBlock">{{note.title}}</h5>
    <ng-template #elseBlock>
      <h5>Không tiêu đề</h5>
    </ng-template>
    <p>Vừa tạo xong</p>
    <hr>
  </div>
</a>

<a href="">
  <div>
    <ng-template #elseBlock1>
      <div style="margin-top: 20px">
        <h3>All notes</h3>
        <p>0 note</p>
        <hr>
      </div>
      <div style="justify-content: space-between">
        <div></div>
        <div style="text-align: center; margin-top: 100px">
          <img src="../../../../assets/images/no%20note.png" alt="No note">
          <h4>Hiện tại bạn chưa có note nào</h4>
          <p>Hãy nhấn nút tạo note mới ở thanh chức năng ngay để bắt đầu trải nghiệm</p>
        </div>
        <div></div>
      </div>
    </ng-template>
  </div>
</a>
